{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-updateinfo') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Update Details</h2>
{% if not md.check_acl('@modify-updateinfo') %}
<table class="table">
{% if md.release_urgency %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Release Urgency</th>
    <td class="col">{{md.release_urgency}}</td>
  </tr>
{% endif %}
{% if md.details_url %}
  <tr class="row">
    <th class="col col-sm-3">Update URL</th>
    <td class="col">{{md.details_url}}</td>
  </tr>
{% endif %}
{% if md.release_message %}
  <tr class="row">
    <th class="col col-sm-3">Update Message</th>
    <td class="col">{{md.release_message}}</td>
  </tr>
{% endif %}
{% if md.release_image %}
  <tr class="row">
    <th class="col col-sm-3">Update Image</th>
    <td class="col">{{md.release_image}}</td>
  </tr>
{% endif %}
{% if md.source_url %}
  <tr class="row">
    <th class="col col-sm-3">Source URL</th>
    <td class="col">{{md.source_url}}</td>
  </tr>
{% endif %}
{% if md.install_duration %}
  <tr class="row">
    <th class="col col-sm-3">Install Duration</th>
    <td class="col">{{md.install_duration}}</td>
  </tr>
{% endif %}
</table>
  </div>
</div>

{% else %}

<form method="post" action="{{url_for('components.route_modify', component_id=md.component_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>

  <div class="form-group">
    <label for="urgency">Update Urgency</label>
    <select class="form-control {{ 'is-invalid' if md.release_urgency == 'unknown' }}" id="urgency" name="urgency" required>
      <option value="unknown" {{ 'selected' if md.release_urgency == 'unknown' }}>Unknown</option>
      <option value="low" {{ 'selected' if md.release_urgency == 'low' }}>Low</option>
      <option value="medium" {{ 'selected' if md.release_urgency == 'medium' }}>Medium (Optional)</option>
      <option value="high" {{ 'selected' if md.release_urgency == 'high' }}>High (Recommended)</option>
      <option value="critical" {{ 'selected' if md.release_urgency == 'critical' }}>Critical (Urgent)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="details_url">Update URL</label>
      <input class="form-control" type="text" name="details_url" value="{{md.details_url if md.details_url}}"/>
      <p class="text-secondary">
        The optional URL listed here should refer specifically to this firmware release.
{% if md.details_url_with_fallback %}
        The URL will fallback to <code>{{md.details_url_with_fallback}}</code> if not set.
{% endif %}
      </p>
  </div>
  <div class="form-group">
    <label for="release_message">Update Message</label>
      <input class="form-control" type="text" name="release_message" value="{{md.release_message if md.release_message}}"/>
      <p class="text-secondary">
        The update message may be shown when the firmware update has completed.
      </p>
      <p class="text-secondary">
        A <a href="{{url_for('components.route_show', component_id=md.component_id, page='requires')}}>">
        component requirement</a> should be used if the update text has to be
        shown for the update to complete successfully.
      </p>
  </div>
  <div class="form-group">
    <label for="release_message">Update Image</label>
      <input class="form-control" type="text" name="release_image" value="{{md.release_image if md.release_image}}"/>
      <p class="text-secondary">
        The update image may be shown when the firmware update has completed.
{% if md.release_image_safe %}
        This image has also <a href="{{md.release_image_safe}}">been mirrored</a> for privacy.
{% endif %}
      </p>
      <p class="text-secondary">
        A <a href="{{url_for('components.route_show', component_id=md.component_id, page='requires')}}">
        component requirement</a> should be used if the update image has to be
        shown for the update to complete successfully.
      </p>
  </div>
{% if md.requires_source_url or md.source_url %}
  <div class="form-group">
    <label for="source_url">Source URL</label>
      <input class="form-control" type="test" name="source_url" value="{{md.source_url if md.source_url}}"/>
      <p class="text-secondary">
        The source URL listed here should refer specifically to the code used to built this exact firmware release.
      </p>
  </div>
{% endif %}
  <div class="form-group">
    <label for="install_duration">Install Duration</label>
      <input class="form-control" type="number" name="install_duration" min="0" max="3600" step="5" value="{{md.install_duration}}"/>
      <p class="text-secondary">
        The value here can be approximate and is given in seconds.
        For updates requiring a reboot the install duration should include the
        time to POST the system both before and after the update has run.
        A value of zero can be used to signify <em>unknown</em>.
      </p>
  </div>
  <input class="card-link btn btn-primary" type="submit" value="Save"/>
</form>
  </div>
</div>

{% endif %}
{% endblock %}
