{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}

{% if data %}
<div class="card">
  <div class="card-body rounded-soft bg-gradient">
  <h5 class="text-white mb-3">Downloads per GeoIP country</h5>
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas class="rounded" id="metadataChartUserAgents" width="1618" height="575" role="img"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
var data = {
    labels: [{% for val in labels %}'{{val}}', {% endfor %}],
    datasets: [
        {
            label: "GeoIP",
            borderWidth: 2,
            borderColor: "rgba(255,255,255,0.8)",
            backgroundColor: "rgba(255,255,255,0.35)",
            data: [{% for val in data %}{{val}}, {% endfor %}],
        },
    ]
};
new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    legend: {
        display: false
    },
    scales: {
      xAxes: [{
        ticks: {
          fontColor: "rgba(255,255,255,0.8)",
          fontStyle: 600,
        },
        gridLines: {
          color: "rgba(255,255,255,0.1)",
          lineWidth: 1,
        },
      }],
      yAxes: [{
        ticks: {
          precision: 0,
          fontColor: "rgba(255,255,255,0.7)",
          fontStyle: 600,
          beginAtZero: true,
          display: false,
        },
        gridLines: {
          color: "rgba(255,255,255,0.1)",
          lineWidth: 1,
        }
      }]
    }
  },
});
</script>
{% endif %}

{% for c in clients %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">{{c.timestamp.strftime('%F %T')}}</h2>
    <table class="table card-text">
{% if c.user_agent %}
      <tr class="row">
        <th class="col-3">User Agent</th>
        <td class="col"><code>{{c.user_agent}}</code></td>
      </tr>
{% endif %}
{% if c.country_code %}
      <tr class="row">
        <th class="col-3">GeoIP Country</th>
        <td class="col">{{format_iso3166(c.country_code)}}</td>
      </tr>
{% endif %}
    </table>
  </div>
</div>
{% endfor %}

{% endblock %}
