{% extends "default.html" %}
{% block title %}Upload List{% endblock %}

{% block content %}

{% if uploads|length == 0 %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Uploads</h2>
    <p class="card-text">
      No uploads are visible by this user.
    </p>
  </div>
</div>

{% else %}

<div class="card mt-3">
  <div class="card-body">
    <table class="table">
      <tr class="row table-borderless">
        <th class="col col-sm-2">Uploaded</th>
        <th class="col col-sm-2">User</th>
        <th class="col col-sm-3">Filename</th>
        <th class="col col-sm-3">Status</th>
        <th class="col col-sm-2">&nbsp;</th>
      </tr>
{% for up in uploads %}
      <tr class="row">
        <td class="col col-sm-2">
          {{up.revision.timestamp.strftime('%F %T')}}
{% if up.started_ts and up.ended_ts %}
          <br/>
          <span class="text-muted">{{format_humanize_naturaldelta(up.ended_ts - up.started_ts)}}</span>
{% endif %}
        </td>
        <td class="col col-sm-2">
          {{up.user.username}}
        </td>
        <td class="col col-sm-3">
          <a href="{{up.revision.url}}">{{up.revision.filename}}</a>
        </td>
        <td class="col col-sm-3">
{% if up.status %}
          {{up.status}}
{% else %}
          Completed
{% endif %}
        </td>
        <td class="col col-sm-2">
{% if up.revision.fw %}
          <a class="btn btn-info btn-block" href="{{url_for('firmware.route_show', firmware_id=up.revision.fw.firmware_id)}}">Details</a>
{% endif %}
        </td>
      </tr>
{% endfor %}
  </table>
  </div>
</div>
{% endif %}

{% endblock %}
